#appdirs==1.4.2
cython==0.26
astropy==1.2.1
backports-abc==0.5
bokeh==0.12.1
certifi==2017.1.23
Django==2.1
djangorestframework==3.5.1
ephem==3.7.6.0
futures==3.0.5
h5py==2.6.0
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.2
#packaging==16.8
pyparsing==2.0.3
python-dateutil==2.6.0
pytz==2016.2
PyYAML==3.11
requests==2.10.0
scipy==0.17.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
