 
{% extends 'landing.html' %}

{% block headertitle %}Change password{% endblock %}

{% block content %}

<section class='data-section' id="login">

{% if form.errors or form.new_password1.errors or form.new_password2.errors %}

<div class="flex-data-container j-center">

   <div class="main-container-h border j-center" style="color:#FF0000">
<!--       {{ form.errors }} -->
      {{ form.new_password1.errors }}
      {{ form.new_password2.errors }}
   </div>

</div>

{% endif %}


<div class="flex-data-container j-center">
   
   <div class="block">

  <form method="post">
  
  {% csrf_token %}
  
   <table class='datatable'>
   <tbody>
      <tr> <th>Old Password:</th> <td>{{ form.old_password }}{{ form.old_password.errors }}</td> </tr>
      <tr style="border-bottom:1px solid black"> <td colspan="100%"></td> </tr>
      <tr> <th>New Password:</th> <td>{{ form.new_password1 }}</td> </tr>
      <tr> <th>New Password again:</th> <td>{{ form.new_password2 }}</td> </tr>
      <tr> <th></th> <td><button type="submit">Change password</button></td> </tr>
   </tbody>
   </table>
   
   {{ form.new_password1.help_text | safe }}
    
  </form>
  
  </div>
  
</div>

</section>
  
{% endblock %}
