{% extends "base.html" %}
{% load static %}

{% block head %}  <!--Add necessary javascript and css files for this page-->

    {% include "datatables.html" %}
    <title>Raw Spectrum Files</title>
    <script type="text/javascript" src="{% static 'js/rawspecfiles_list.js' %}?20230109"></script>

{% endblock %}

{% block headertitle %} Spectra Raw File List {% endblock %}

{% block content %}

    <i display="none" id="project-pk" project={{ project.pk }}
            project_slug={{ project.slug }}></i>

    <i class="material-icons button filter" id="filter-dashboard-button">filter_list</i>

    <div id="filter-dashboard">

        <form method="get" action="/observations/" class="table-filter" id="filter-form">
            <h3 class="center"> Filter Raw files </h3>

            <div class="table-filter-item">
                <p class="filter-label">System:</p>
                <input class="filter-input" id="filter_systems" type="text" placeholder="name">
            </div>

            <hr>

            <div class="table-filter-item">
                <p class="filter-label">HJD:</p>
                <input class="filter-input" id="filter_hjd" type="text" placeholder="min:max">
            </div>

            <div class="table-filter-item">
                <p class="filter-label">Observation data:</p>
                <input class="filter-input" id="filter_obs_date" type="text" placeholder="yyyy-mm-dd">
            </div>

            <div class="table-filter-item">
                <p class="filter-label">Instrument:</p>
                <input class="filter-input" id="filter_instrument" type="text" placeholder="instrument">
            </div>

            <hr>

            <div class="table-filter-item">
                <p class="filter-label">Exposure time:</p>
                <input class="filter-input" id="filter_expo_time" type="text" placeholder="min:max">
            </div>

            <hr>

            <div class="table-filter-item">
                <p class="filter-label">Filetype:</p>
                <input class="filter-input" id="filter_filetype" type="text" placeholder="file type">
            </div>

            <div class="table-filter-item">
                <p class="filter-label">Filename:</p>
                <input class="filter-input" id="filter_filename" type="text" placeholder="file name">
            </div>

            <input type="submit" class="button filter" id="submit-search" value="Apply">
        </form>

    </div>

    <section>

        <table id="rawspecfiletable" class="fullwidth">
            <thead>
            <tr>
                {% if user.is_authenticated %}
                    <th>
                        <i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i>
                    </th>
                {% endif %}
                <th>Observation date</th>
                <th>Instrument</th>
                <th>File type</th>
                <th>Exposure time</th>
                <th>File name</th>
                <th>Added on</th>
                <th>Reduced</th>
                <th>Systems</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                {% if user.is_authenticated %}
                    <th></th>
                {% endif %}
                <th>Observation date</th>
                <th>Instrument</th>
                <th>File type</th>
                <th>Exposure time</th>
                <th>File name</th>
                <th>Added on</th>
                <th>Reduced</th>
                <th>Systems</th>
            </tr>
            </tfoot>
        </table>

    </section>


    <!-- Div ect necessary for editing on page stuff with ajax -->
    <div id="addRawSpec">
        {% if user.is_authenticated %}
            <fieldset>
                <div class="ui-controlgroup-horizontal">

                    <form action="{% url "observations:rawspecfile_list" project.slug %}" method="post"
                          enctype="multipart/form-data" class="" id="raw-upload-form">

                        {% csrf_token %}
                        {% if raw_upload_form.non_field_errors %}
                            <p>{{ raw_upload_form.non_field_errors }}</p>
                        {% endif %}

                        <fieldset>
                            <legend>Filter systems and spectra</legend>

                            <div class="cg-block">
                                <table class="system-form-table">
                                    <tr>
                                        <td>
                                            <label for="{{ raw_upload_form.system_name.id_for_label }}">System name
                                                (main id):</label>
                                        </td>
                                        <td>
                                            {{ raw_upload_form.system_name }}
                                            <span class="error">
                                {{ raw_upload_form.system_name.errors.as_text }}
                                </span>
                                        </td>
                                        <td id='label'>
                                            <label for="{{ raw_upload_form.specfile_date.id_for_label }}">Observation
                                                date:</label>
                                        </td>
                                        <td>
                                            {{ raw_upload_form.specfile_date }}
                                            <span class="error">
                                {{ raw_upload_form.specfile_date.errors.as_text }}
                                </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Allocate raw data either to system(s) (if data are not reduced yet) or to reduced
                                spectra
                            </legend>

                            <div class="cg-block">
                                <table class="system-form-table">
                                    <tr>
                                        <td>
                                            <label for="{{ raw_upload_form.system.id_for_label }}">Systems:</label>
                                        </td>
                                        <td class='left'>
                                            {{ raw_upload_form.system }}
                                            <br>
                                            <i class="small">(Reset field by double click)</i>
                                            <span class="error">
                                                {{ raw_upload_form.system.errors.as_text }}
                                            </span>
                                        </td>
                                        <td id='label'>
                                            <label for="{{ raw_upload_form.specfile.id_for_label }}">Reduced
                                                spectra:</label>
                                            <br>
                                            <i class="small">(Obs. date - Instrument)</i>
                                        </td>
                                        <td>
                                            {{ raw_upload_form.specfile }}
                                            <br>
                                            <i class="small">(Reset field by double click)</i>
                                            <span class="error">
                                                {{ raw_upload_form.specfile.errors.as_text }}
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Select raw data</legend>
                            <div class="cg-block">
                                {{ raw_upload_form.rawfile }}
                                <span class="error">
                        {{ raw_upload_form.rawfile.errors.as_text }}
                            </span>
                            </div>
                        </fieldset>

                        <div class="system-form-submit">
                            <input type="submit" class="upload-button" value="Upload raw data"/>
                        </div>

                    </form>
                </div>
            </fieldset>
        {% endif %}

    </div>

    <div id="editLinkage">
        {% if user.is_authenticated %}
            <fieldset>
                <div class="ui-controlgroup-horizontal">

                    <div id='linkage-error' class='error-message'></div>

                    {% csrf_token %}
                    {% if raw_patch_form.non_field_errors %}
                        <p>{{ raw_patch_form.non_field_errors }}</p>
                    {% endif %}

                    <fieldset>
                        <legend>Filter systems and spectra</legend>

                        <div class="cg-block">
                            <table class="system-form-table">
                                <tr>
                                    <td>
                                        <label for="{{ raw_patch_form.system_name_patch.id_for_label }}">System name
                                            (main id):</label>
                                    </td>
                                    <td>
                                        {{ raw_patch_form.system_name_patch }}
                                        <span class="error">
                                                {{ raw_patch_form.system_name_patch.errors.as_text }}
                                            </span>
                                    </td>
                                    <td id='label'>
                                        <label for="{{ raw_patch_form.specfile_date_patch.id_for_label }}">Observation
                                            date:</label>
                                    </td>
                                    <td>
                                        {{ raw_patch_form.specfile_date_patch }}
                                        <span class="error">
                                                {{ raw_patch_form.specfile_date_patch.errors.as_text }}
                                            </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Select the system(s) or the reduced spectra to which the raw data are to be assigned
                        </legend>

                        <div class="cg-block">
                            <table class="system-form-table">
                                <tr>
                                    <td>
                                        <label for="{{ raw_patch_form.system_patch.id_for_label }}">Systems:</label>
                                    </td>
                                    <td class='left'>
                                        {{ raw_patch_form.system_patch }}
                                        <br>
                                        <i class="small">(Reset field by double click)</i>
                                        <span class="error">
                                                {{ raw_patch_form.system_patch.errors.as_text }}
                                            </span>
                                    </td>
                                    <td id='label'>
                                        <label for="{{ raw_patch_form.specfile_patch.id_for_label }}">Reduced
                                            spectra:</label>
                                        <br>
                                        <i class="small">(Obs. date - Instrument)</i>
                                    </td>
                                    <td>
                                        {{ raw_patch_form.specfile_patch }}
                                        <br>
                                        <i class="small">(Reset field by double click)</i>
                                        <span class="error">
                                                {{ raw_patch_form.specfile_patch.errors.as_text }}
                                            </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>

                </div>
            </div>
            </fieldset>
        {% endif %}
    </div>

{% endblock %}
