{% extends "base.html" %}
{% load static %}

{% block head %}  <!--Add necessary javascript and css files for this page-->

   {% include "datatables.html" %}
   <script type="text/javascript" src="{% static 'js/rawspecfiles_list.js' %}"></script>

{% endblock %}

{% block headertitle %} Spectrum Raw Files {% endblock %}

{% block content %}

<i display="none" id="project-pk" project={{project.pk}}
    project_slug={{project.slug}}></i>

<div class='upload_old'>
   <form action="{% url "observations:rawspecfile_list" project.slug %}" method="post" enctype="multipart/form-data" class="upload" id="raw-upload-form">
      <h3> Add raw data </h3>

      {% if user.is_authenticated %}
        {% csrf_token %}
        {% if raw_upload_form.non_field_errors %}
            <p>{{ raw_upload_form.non_field_errors }}</p>
        {% endif %}

        <p>

        <table>
        <tbody>
        {{ raw_upload_form.as_table }}
        </tbody>
        </table>
        </p>

        <progress id="progress-bar" value="0" max="100"
            class="progress hidden"></progress>
        <input type="submit" class="upload-button" value="Upload"/>
      {% else %}
        <p> Log in to upload files! </p>
      {% endif %}

   </form>
</div>

<i class="material-icons button filter" id="filter-dashboard-button">filter_list</i>

<div id="filter-dashboard">

   <form method="get" action="/observations/" class="table-filter" id="filter-form">
   <h3 class="center"> Filter Raw files </h3>

   <div class="table-filter-item">
      <p class="filter-label">Target:</p>
      <input class="filter-input" id="filter_systems" type="text" placeholder="name">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">HJD:</p>
      <input class="filter-input" id="filter_hjd" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Instrument:</p>
      <input class="filter-input" id="filter_instrument" type="text" placeholder="instrument">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Exposure time:</p>
      <input class="filter-input" id="filter_expo_time" type="text" placeholder="min:max">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Filetype:</p>
      <input class="filter-input" id="filter_filetype" type="text" placeholder="file type">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Filename:</p>
      <input class="filter-input" id="filter_filename" type="text" placeholder="file name">
   </div>

   <input type="submit" class="button filter" id="submit-search" value="Apply">
   </form>

</div>

<br>
<section>

   <table id="rawspecfiletable" class="fullwidth">
   <thead>
      <tr>
      {% if user.is_authenticated %}
      <th><i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i></th>
      {% endif %}
      <th>HJD</th>
      <th>Instrument</th>
      <th>File type</th>
      <th>Exposure time</th>
      <th>File name</th>
      <th>Added on</th>
      <th>Systems</th>
      </tr>
   </thead>
   <tfoot>
      <tr>
      {% if user.is_authenticated %}
      <th></th>
      {% endif %}
      <th>HJD</th>
      <th>Instrument</th>
      <th>File type</th>
      <th>Exposure time</th>
      <th>File name</th>
      <th>Added on</th>
      <th>Systems</th>
      </tr>
   </tfoot>
   </table>

</section>

{% endblock %}
