{% extends "base.html" %}
{% load static %}

{% block head %}

   {% include "datatables.html" %}
   <script type="text/javascript" src="{% static 'js/spectra_list.js' %}"></script>
   
{% endblock %}

{% block headertitle %} Spectra {% endblock %}

{% block content %}

<i display="none" id="project-pk" project={{project.pk}}></i>

<section>

   <table id="spectratable" class="fullwidth">
   <thead>
      <tr>
      <th><i id="expand-all" class="material-icons button show" title="Expand/hide">visibility</i></th>
      <th>HJD</th>
      <th>System</th>
      <th>Instrument</th>
      <th>Exposure time</th>
      <th>Action</th>
      </tr>
   </thead>
   <tfoot>
      <tr>
      <th></th>
      <th>HJD</th>
      <th>System</th>
      <th>Instrument</th>
      <th>Exposure time</th>
      <th>Action</th>
      </tr>
   </tfoot>
   </table>
    

</section>

{% endblock %}
