 
{% extends "base.html" %}
{% load static %}
{% load conversion_tags %}

{% block head %}

   {% include "bokeh.html" %}
   {% include "bokeh_widgets.html" %}
<!--    <script type="text/javascript" src="{% static 'js/spectrum_detail.js' %}"></script> -->
   
{% endblock %}


{% block headertitle %}Add a new Spectrum{% endblock %}


{% block content %}

   <form action="{% url "observations:specfile_list" project.slug %}" method="post" enctype="multipart/form-data" id="specfile-upload-form">

   <section class='data-section'>
      
      {% csrf_token %}
      
      {% if upload_form.non_field_errors %}
         <p>{{ upload_form.non_field_errors }}</p>
      {% endif %}
      
      
      <div class="main-container-h border j-center">
         <table class='datatable'>
            <tbody>
               <tr> <th>File(s) txt or fits, 20 Mb max:</th> <td>{{ upload_form.spectrumfile }}{{ upload_form.spectrumfile.errors }}</td> </tr>
               <tr> <th>Merge spectrum files if possible:</th> <td>{{ upload_form.merge_spectra_if_possible }}{{ upload_form.merge_spectra_if_possible.errors }}</td> </tr>
            </tbody>
         </table>
      </div>
   
   </section>
   
   <section class='data-section'>
   <h3>Header information</h3>
      
      <div class="flex-data-container j-center">
   
         <div class="tag-container">
         
         <h3>Target </h3>
         
            <table class='datatable'>
            <tbody>
               <tr> <th>Target:</th> <td>{{ upload_form.objectname }}{{ upload_form.objectname.errors }}</td> </tr>
               <tr> <th>RA:</th> <td>{{ upload_form.ra }}{{ upload_form.ra.errors }}</td> </tr>
               <tr> <th>Dec:</th> <td>{{ upload_form.dec }}{{ upload_form.dec.errors }}</td> </tr>
               <tr> <th>Create new:</th> <td>{{ upload_form.create_new_star }}{{ upload_form.create_new_star.errors }}</td> </tr>
            </tbody>
            </table>
         </div>
            
      
         <div class="tag-container">
         <h3>Instrument and setup </h3>
         
            <table class='datatable'>
            <tbody>
               <tr> <th>Telescope:</th> <td>{{ upload_form.telescope }}{{ upload_form.telescope.errors }}</td> </tr>
               <tr> <th>Instrument:</th> <td>{{ upload_form.instrument }}{{ upload_form.instrument.errors }}</td> </tr>
               <tr> <th>HJD:</th> <td>{{ upload_form.hjd }}{{ upload_form.hjd.errors }}</td> </tr>
               <tr> <th>exptime (s):</th> <td>{{ upload_form.exptime }}{{ upload_form.exptime.errors }}</td> </tr>
               <tr> <th>resolution:</th> <td>{{ upload_form.resolution }}{{ upload_form.resolution.errors }}</td> </tr>
               <tr> <th>snr:</th> <td>{{ upload_form.snr }}{{ upload_form.snr.errors }}</td> </tr>
               <tr> <th>observer:</th> <td>{{ upload_form.observer }}{{ upload_form.observer.errors }}</td> </tr>
            </tbody>
            </table>
         </div>
         
         <div class="tag-container">
         <h3>Weather </h3>
         
            <table class='datatable'>
            <tbody>
               <tr> <th>Wind speed (m/s):</th> <td>{{ upload_form.wind_speed }}{{ upload_form.wind_speed.errors }}</td> </tr>
               <tr> <th>Wind direction (deg):</th> <td>{{ upload_form.wind_direction }}{{ upload_form.wind_direction.errors }}</td> </tr>
               <tr> <th>Seeing ("):</th> <td>{{ upload_form.seeing }}{{ upload_form.seeing.errors }}</td> </tr>
            </tbody>
            </table>
         
         <h3>Extra</h3>
         
            <table class='datatable'>
            <tbody>
               <tr> <th>Flux calibrated:</th> <td>{{ upload_form.fluxcal }}{{ upload_form.fluxcal.errors }}</td> </tr>
               <tr> <th>Flux units:</th> <td>{{ upload_form.flux_units }}{{ upload_form.flux_units.errors }}</td> </tr>
            </tbody>
            </table>
         
         </div>
         
         <div class="tag-container">
         <h3>Observatory</h3>
         
            <table class='datatable'>
            <tbody>
               <tr> <th>Observatory:</th> <td>{{ upload_form.observatory }}{{ upload_form.observatory.errors }}</td> </tr>
            </tbody>
            </table>
            
            <table class='datatable'>
            <tbody>
               <tr> <th>Name:</th> <td>{{ upload_form.observatory_name }}{{ upload_form.observatory_name.errors }}</td> </tr>
               <tr> <th>Latitude (deg):</th> <td>{{ upload_form.observatory_latitude }}{{ upload_form.observatory_latitude.errors }}</td> </tr>
               <tr> <th>Longitude (deg):</th> <td>{{ upload_form.observatory_longitude }}{{ upload_form.observatory_longitude.errors }}</td> </tr>
               <tr> <th>Altitude (m):</th> <td>{{ upload_form.observatory_altitude }}{{ upload_form.observatory_altitude.errors }}</td> </tr>
               <tr> <th>Is spacecraft:</th> <td>{{ upload_form.observatory_is_spacecraft }}{{ upload_form.observatory_is_spacecraft.errors }}</td> </tr>
            </tbody>
            </table>
         
         </div>
         
         <div class="tag-container">
         <h3>Note</h3>
         
            {{ upload_form.note }}{{ upload_form.note.errors }}
         
         </div>
            
         
      </div>
      
      <div class="main-container-h border j-center">
         <input type="submit" class="button" value="UPLOAD"/>
      </div>
      
      
   </div>
      
      
   </section>
   
   </form>


{% endblock %}
