/* FONTS */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../webfonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.mono {
    font-family: "Courier New", "Oxygen Mono", Courier, monospace;
    white-space: pre;
}

/* --------------------------------------- */

/* MAIN PAGE ELEMENTS */

:root {
  --header_font_size: 15px;
  --highlight_color_03: rgba(64, 117, 144, 0.3);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #333;
    background: #fff;
}

.page-wrap-base {
    height: 95vh;
    overflow: scroll;
}

section {
    margin-top: 10px;
}

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

/* --------------------------------------- */

/* NEW HEADER */

.nav_bar {
  overflow: hidden;
  display: block;
  background-color: var(--highlight_color_03);
  box-shadow: 0 0px 10px 2px var(--highlight_color_03);
  margin-bottom: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_bar .float_right {
  float: right;
}

.nav_bar a {
  display: block;
  color: #555;
  text-align: center;
  padding: 16px 10px;
  font-size: var(--header_font_size);
}

.nav_bar a.title_line {
  font-weight: bold;
  padding: 14px 10px;
  font-size: calc(var(--header_font_size) + 3px);
}

.nav_bar a.title_line .site_title {
  font-style: initial;
  text-transform: uppercase;
  font-weight: normal;
}

.nav_bar a.logo {
  font-weight: 900;
  color: #5b80b2;
  padding: 10px 16px;
  font-size: 25px;
}

.nav_dropdown {
  float: left;
  overflow: hidden;
}

.nav_bar .float_right a {
  display: none;
}

.nav_bar .float_right a.menu_icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: var(--header_font_size);
}

.nav_dropdown .drop_button{
  display: none;
  font-size: var(--header_font_size);
  border: none;
  outline: none;
  color: #555;
  padding: 16px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.unfold_button{
  font-size: var(--header_font_size);
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 169px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2000;
}

.nav_dropdown-content a, .unfold_button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.float_right a:hover, .nav_dropdown:hover .drop_button {
  background-color: rgba(64, 117, 144, 0.5);
  color: white;
}

.nav_dropdown-content a:hover, .unfold_button:hover {
  background-color: #ddd;
  color: black;
}

.nav_dropdown:hover .nav_dropdown-content {
  display: block;
}

.unfold-content {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0%;
  left: 100%;
  width: 100%;
  background-color: #f9f9f9;
  min-width: 169px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.unfold:hover .unfold-content {
  display: flex;
}

.float_right .active {
  background-color: rgba(64, 117, 144, 0.7);
  color: white;
}

.nav_bar.responsive .float_right {
  float: none;
  display: inline-block;
  width: 100%;
}


.nav_bar.responsive .float_right a {
  float: none;
  display: block;
  text-align: left;
}

.nav_bar.responsive {position: relative;}

/*
.nav_bar.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
*/

.nav_bar.responsive .nav_dropdown {float: none;}

.nav_bar.responsive .nav_dropdown-content {position: relative;}

.nav_bar.responsive .nav_dropdown .drop_button {
  display: block;
  width: 100%;
  text-align: left;
}

.nav_bar.responsive .nav_dropdown-content .unfold .unfold_button {
  width: 100%;
}

.nav_bar.responsive .nav_dropdown-content .unfold:hover .unfold-content, .show_right {
  display: block;
  position: relative;
  flex-direction: none;
  top: 0%;
  left: 0%;
  width: 100%;
}


@media screen and (min-width: 1100px) {
  .nav_bar a {
    float: left;
  }

  .nav_bar .float_right a {
    display: block;
  }

  #user_dropdown {
    min-width: 169px;
  }

  .nav_bar .float_right a.menu_icon {
    display: none;
  }

  .nav_dropdown .drop_button {
    display: block;
  }

  .nav_dropdown-content a {
    float: none;
  }

  .nav_bar a.title_line {
    max-width: calc(100vw - 975px - 40px - 108px);
  }
}

/* --------------------------------------- */

/* GENERAL DEFINITIONS */

.show {
    display: block;
}

.icon {
    align-self: center;
}


/* --------------------------------------- */

/* MESSAGES */

ul#messages {
    list-style-type: none;
    font-size: 14px;
}

ul#messages .info {
    color: #00008B;
    background-color: rgb(237, 245, 251, 0.85);
    border-width: 2px;
    border-color: rgb(184, 205, 217, 0.7);
    border-style: solid;
}

ul#messages .success {
    color: #006400;
    background-color: rgba(193, 225, 193, 0.85);
    border-width: 2px;
    border-color: rgb(164, 191, 164);
    border-style: solid;
}

ul#messages .error {
    background-color: rgba(250, 160, 160, 0.85);
    color: #8B0000;
    border-width: 2px;
    border-color: rgb(191, 122, 122);
    border-style: solid;
}

.msg-container{
    position: absolute;
    top: 5.5vh;
    top: 54px;
    margin-left: calc(2.5% + 4px);
    z-index: 10; /* This is probably high enough? */
    width: 50%;
    max-width: 50%;
    max-height: 75%;
    text-align: left;
    display: inline-flex;
    align-items: center;
    overflow: scroll;
}

.msg-list {
    padding: 0;
}

.single-msg {
    background-color: rgb(237, 245, 251, 0.7);
    border: 2px solid rgb(184, 205, 217, 0.7);
    padding: 5px;
    border-radius: 5px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 0.7);
    margin-bottom: 5px;
}

.remove-msg-btn {
    border-color: inherit;
    border-style: solid;
    margin-right: 5px;
    border-radius: 5px;
    background-color: inherit;
}

/* --------------------------------------- */

h2 {
    font-size: 23px;
    color: #666;
    margin-top: 5px
}

h2.center {
    font-size: 22px;
    font-weight: bold;
    color: #666;
    padding-top: 5px;
    padding-left: 15%;
    margin: 0 0 0 0;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    color: #666;
    margin: 2px 0 5px 0px;
}

h3.center {
    font-size: 14px;
    color: #666;
    padding-top: 5px;
    margin: 0 0 10px 0;
    text-align: center;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    color: #666;
    margin: 10px 0px 5px 0px;
}

h4.no_margin {
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

h4.not_bold {
    font-weight: normal;
    margin: 0px 0px 10px 0px;
}

div.block {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

div.upload {
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    font-weight: bold;
    border-style: solid;
    border-color: rgba(64, 117, 144, 0.4);
}


div.center {
    margin: auto;
}

div.circle {
    border-radius: 25px;
    height: 25px;
    width: 25px;
}

.w300 {
    width: 300px;
}

.w400 {
    width: 400px;
}

.w600 {
    width: 600px;
}

.w1100 {
    width: 1100px;
}

hr {
    clear: left;
    margin-top: 10px;
}

hr.box {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    border-top: 1px solid var(--highlight_color_03);
}

/* --------------------------------------- */

/* Project Page */

div.project-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    width: 400px;
    height: 500px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border: solid 2px var(--highlight_color_03);
    border-radius: 5px;
    align-items: center;
    transition: box-shadow .3s;
}

div.project-container div {
    min-width: 400px;
    max-height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}


div.project-container h3 {
    position: absolute;
    top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 0;
    width: 400px;
    text-align: center;
}


div.docs-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    width: 250px;
    height: 350px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border: solid 2px var(--highlight_color_03);
    align-items: center;
}

div.docs-container div {
    min-width: 250px;
    max-height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}


div.docs-container h3 {
    top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 0;
    width: 250px;
    text-align: center;
}


img.project-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    cursor: pointer;
}

/* --------------------------------------- */

/* Status icons */

.status-icon {
    line-height: inherit;
    vertical-align: middle;
    cursor: default;
}

.status-icon.FI:after {
    color: #007e00;
    content: 'done';
}

.status-icon.ON:after {
    color: #1063aa;
    content: 'sync';
}

.status-icon.RE:after {
    color: #d20707;
    content: 'clear';
}

.status-icon.NE:after {
    color: black;
    content: 'more_horiz';
}

.status-icon.valid:after {
    color: #007e00;
    content: 'done';
}

.status-icon.invalid:after {
    color: #d20707;
    content: 'clear';
}

.status-icon.small {
    font-size: 12px;
}

.status-icon.bold {
    font-size: 30px;
    font-weight: bold;
}

/* --------------------------------------- */

/* Classification div */

.classification-SP {
    color: #006400
}

.classification-PH {
    color: #666666
}

/* --------------------------------------- */

/* Note settings */

form#note-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

form#note-form textarea {
    flex-grow: 1;
    font-size: 14px;
}

/* --------------------------------------- */

/* Identifier settings */

div.identifier {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 5px;
    margin-right: 30px;
    vertical-align: middle;
}

div.identifier i {
    cursor: pointer;
}

/* --------------------------------------- */

/* Tag settings */

div.tag {
    display: flex;
    align-items: center;
    height: 16px;
    line-height: normal;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    border: solid 3px;
}

div.small-tag {
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    border-radius: 15px;
    border: solid 3px;
}

/* --------------------------------------- */

/* Dataset settings */

div.dataset {
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    padding: 6px 4px 6px 4px;
    vertical-align: middle;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.dataset a:link {
    color: white;
}

.dataset a:visited {
    color: white;
}

/* --------------------------------------- */

/* Hidden Sidenav Bar */

div#sidenav {
    visibility: visible;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #333;
    position: fixed;
    z-index: 1000;
    top: 10%;
    bottom: 10%;
    right: -300px;
    width: 295px;

    overflow: scroll;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    display: flex;
    flex-direction: column;

    padding: 10px;
    padding-left: 20px;
    padding-right: 15px;
}

div#sidenav:hover {
    right: 0px;
}


div#sidenav h2,
div#sidenav h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #666;
    padding-bottom: 10px;
    margin: 0 0 0 0;
}

div#sidenav h3 {
    font-size: 14px;
    padding-bottom: 0px;
    border: solid 3px;
    border-radius: 25px;
}

div#sidenav .legend {
    padding-bottom: 10px;
}

span.nobreak {
    white-space: nowrap;
    overflow: hidden;
}

div#sidenav a {
    line-height: inherit;
    text-align: center;
    vertical-align: middle;
}

div#sidenav a.active {
    display: inline-block;
    color: #036;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 700;
}

div#sidenav ul {
    list-style: none;
    margin-left: 0px;
    margin-top: 2px;
    padding-left: 0px;
    text-align: center;
}

div#sidenav ul li {
    line-height: 17px;
}

/* --------------------------------------- */

/* Spectrum detail page */

section.data-section {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

section.data-section h3.indent {
    margin-left: 2%;
}

section.data-section > i.show {
    position: absolute;
    top: -1px;
    left: 1px;
    font-size: 26px;
}

div.data-summary {
    margin-left: 2%;
    display: none;
}

div.data-detail {
}

div.flex-data-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}

.j-center {
    justify-content: center;
}

.j-spacearound {
    justify-content: space-around;
}

.gray {
    color: #c7c7ce;
}


div.tag-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px var(--highlight_color_03);
    max-width: 98%;
    align-items: center;
    z-index: 1;
}

div.buttons-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    margin: 5px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 5px;
    border: solid 1px var(--highlight_color_03);
    max-width: 9%;
    align-items: stretch;
}

div.Wrapper {
    margin: 5px;
}

div.Wrapper_gray {
    margin: 5px;
    color: #c7c7ce;
}

span.error {
    /*    max-width: 80%; */
    color: #8B0000;
}

#id_order {
    width: 95px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#id_binning {
    width: 95px;
    margin-top: 5px;
}

input.plot-button {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    color: #036;
}

div.tag-container a.edit,
div.tag-container i.edit,
div.tag-container i.add {
    position: absolute;
    top: 1px;
    right: 1px;
}

div.tag-container h3 {
    align-self: flex-start;
}

.gray {
    color: #c7c7ce;
}


/* --------------------------------------- */

/* Dataset detail page */

div.main-container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

div.main-container-h {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

div.main-container h3 {
    align-self: flex-start;
}

div.border {
    margin: 5px;
    border: solid 1px var(--highlight_color_03);
}

div.maxw50 {
    max-width: 50%;
}

div.minw800 {
    min-width: 800px;
}

div.stretch {
    align-items: stretch;
}

div.header-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.header-item p {
    padding: 2px;
    margin: 2px;
}

div.header-item h3 {
    margin: 0px;
}

div.main-container i.edit,
div.main-container i.add {
    position: absolute;
    top: 1px;
    right: 1px;
}

div.main-container-h i.edit {
    position: absolute;
    top: 1px;
    right: 1px;
}

/* --------------------------------------- */

/* Table settings */

th.underline {
    text-decoration: underline;
}

table.datatable {
    border-collapse: collapse;
    font-size: 14px;
    margin: 5px;
}

table.datatable th,
table.datatable td {
    padding-top: 5px;
    padding-bottom: 5px;
}

table.datatable tbody th {
    text-align: right;
    padding-right: 5px;
}

/* --------------------------------------- */

table.metatable {
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

table.metatable td {
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

table.metatable th {
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}

/* --------------------------------------- */

table.paramtable {
    border-collapse: collapse;
    border-top: 3px double black;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

table.paramtable th,
table.paramtable td {
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

table.paramtable.overview td:nth-child(3) {
    border-left: 1px dotted #666666;
    padding-left: 10px;
}

table.paramtable thead tr:last-child {
    border-bottom: 1px solid black;
}

table.paramtable thead th {
    text-align: center;
    font-weight: bold;
}

table.paramtable thead th:first-child {
    text-align: left;
}

table.paramtable tbody th {
    text-align: left;
    font-weight: 500;
    padding-right: 10px;
}

table.paramtable tbody td {
    text-align: center;
    font-family: "Courier New", "Oxygen Mono", Courier, monospace;
    padding-right: 10px;
}

table.paramtable tfoot tr:last-child {
    border-bottom: 1px solid black;
}

/* --------------------------------------- */

table.obs-table th,
table.obs-table td {
    text-align: left;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}


/* ICON stuff */

.inline-icon {
    vertical-align: middle;
}

.button {
    color: #aaa;
    cursor: pointer;
    /*    font-size: 28px; */
    vertical-align: middle;
}

.filter-button {
    float: right;
    height: 25px;
}

.select:hover {
    color: #0a79df;
}

.edit:hover,
.show:hover {
    color: #0a79df;
}

.process:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc2a2a;
}

.add {
    font-size: 34px;
    width: 34px;
    height: 34px;
    border: 0px;
    padding: 0px;
    background: inherit;
}

.add:hover {
    color: #228B22;
}

.filter:hover {
    color: #0a79df;
}

/* --------------------------------------- */

/* FORM stuff */

/* Small form used for search boxes ect */
.small-form {
    display: flex;
    align-items: stretch;
    float: right;
    margin: 10px 2.5% 10px 10px;
    overflow: hidden;
}

.small-text {
    width: 300px;
}

/* Form settings for a table with checkboxes */
/*.table-form .delete{
   display: inline-block;
   float: left;
   margin: 10px 10px 10px 2.5%;
}*/

.table-form .action-menu {
    display: inline-block;
    float: left;
    margin: 10px 10px 10px 2.5%;
}

.table-form #toggle-select {
    background: white;
    color: white;
}

div.upload_old {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

form.upload,
p.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 3px;
    border-style: solid;
    border-color: rgba(64, 117, 144, 0.4);
}

/*form.upload_2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   margin: 5px;
   margin-top: 10px;
   border: solid 1px var(--highlight_color_03);
}*/

progress.progress {
    margin: 5px;
    border: solid 1px var(--highlight_color_03);
    height: 15px;
    border-radius: 9px;
    width: 99%;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.hidden {
    visibility: hidden;
}

.upload-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    outline: none;
    background-color: #e9e9ed;
    color: #333;
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    color: #666;
}

.upload-button:hover {
    background-color: #c5d5dd;
    color: black;
}

.form_long {
    width: 250px;
}

.form_long_extra {
    width: 260px;
}

#identifier-form {
    display: flex;
    align-items: stretch;
    margin: 10px 2.5% 10px 10px;
    overflow: hidden;
}

#filter-dashboard-button {
    position: fixed;
    top: 10%;
    right: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    background-color: transparent;
    font-size: 35px;
    z-index: 1000;
    /*    color: black; */
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#filter-dashboard-button.open {
    right: 315px;
}

#filter-dashboard {
    visibility: visible;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #333;
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: -310px;
    width: 295px;
    overflow: scroll;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    padding: 10px;
    padding-right: 15px;
    z-index: 1000;
}

#filter-dashboard.visible {
    right: 0px;
}

#filter-dashboard ul {
    list-style-type: none;
}

#filter-dashboard hr {
    height: 1px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.table-filter {
    display: flex;
    flex-direction: column;
    /*    align-items: center; */
}

.table-filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filter-label {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    min-width: 50px;
}

.filter-input {
    font-size: 14px;
    flex-grow: 1;
    height: 22px;
}

.color-input {
    border: 0px;
    padding: 0px;
    height: 32px;
}

/* --------------------------------------- */

/* Spectra - HEADER display */

ul#headerList {
    padding-left: 0px;
    list-style-type: none;
}

span.header-key {
    color: black;
}

span.header-value {
    color: blue;
}

/* --------------------------------------- */

/* Dialog windows */

.ui-dialog ul {
    list-style: none;
    padding-left: 5px;
}

.ui-dialog .error-message {
    color: red;
}

/* --------------------------------------- */

/* FOOTER */
* {
    margin: 0;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    /*margin-bottom: -40px;*/
}

/*.page-wrap:after {*/
/*    content: "";*/
/*    display: block;*/
/*}*/

.site-footer {
    height: 5vh;
    background-image: linear-gradient(rgba(64, 117, 144, 0.1), rgba(64, 117, 144, 0.4));
}

footer div {
    display: inline-block;
    width: 96%;
    height: 36px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

footer i {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px; /* the same as your div height */
}

.add-system-footnote {
    text-align: right;
    color: lightslategray;
}

.cg-block {
    margin-right: 10%;
}

/*[id=system-add-upload-button] {
   font-family: 'Material Icons' !important;
    font-size: 24px !important;
}*/

.system-form-table {
    width: 100%;
    table-layout: fixed;
}

.system-form-table td {
    text-align: right;
}

.system-form-table td.left {
    text-align: left;
}

.system-form-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.system-form-submit-button{
   font-size: larger !important;
}*/

td.bold {
    font-weight: bold;
}

.add-system-csv-example {
    text-align: right;
    color: lightslategray;
    text-decoration: underline;
}

.photedit {
    margin-left: 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    white-space: nowrap;
}

.dropdown-content a {
    color: black;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.phot-submit-btn {
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
}

.vizierbtn {
    float: right;
    cursor: pointer;
    margin-top: 10px;
}

.small {
    font-size: 11px
}

.paramedit {
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

#copyParametersWindowButton {
    margin: 5px;
}

a.disabled {
    pointer-events: none;
    color: gray;
}

.dropdown-container {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.dropdownbtn {
    margin-right: 5px;
}

.projectlink {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

div.project-container:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

h3.titlelink {
    color: #5B7FB1FF;
}

/* --------------------------------------- */

/* DASHBOARD */

div.dashboard-wrapper {
    width: 95%;
    height: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

div.dashboard-wrapper h2 {
    font-size: 1.8em;
}

div.dash-square {
    margin: 4px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--highlight_color_03);
    overflow: scroll;
}

div.dash-square-invis {
    margin: 6px 4px;
    padding: 10px;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

div.dash-upperrow {
    height: 20%;
    width: 100%;
    display: flex;
}

div.dash-lowerrow {
    height: 80%;
    width: 100%;
    float: left;
    clear: both;
    display: flex;
}


div.dash-project-sky-preview-wrapper {
    width: 30%;
    display: inline-flex;
    justify-content: center;
    margin: 6px 4px;
    padding: 10px;
    float: left;
}

img.dash-project-sky-preview {
    max-height: 100%;
    max-width: 100%;
}

div.dash-upper-left {
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);;
    display: flex;
    flex-direction: column;
    height: calc(100% - 28px);
    aspect-ratio: 1;
    float: left;
    justify-content: center;
    align-items: center;
}

div.dash-upper-left .counter {
    font-size: 40px;
}

div.dash-upper-left .dash-stats-title {
    position: absolute;
    top: 0;
    font-size: 18px;
}

div.dash-upper-right {
    width: 35%;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}

div.dash-lower-left {
    width: 50%;
    float: left;
}

div.dash-overview-plot{
    margin-top: 1em;
}

div.dash-lower-center {
    width: 25%;
    float: right;
}

div.dash-lower-right {
    width: 25%;
    float: right;
    overflow: hidden;
    padding: 0px;
}

div.dash-lower-right h1 {
    position: sticky;
    margin-bottom: 10px;
}

div.dash-changelog-container {
    border-top: 2px solid var(--highlight_color_03);
    overflow: scroll;
    max-height: 100%;
    width: 100%;
}

div.dash-changelog-field {
    padding: 5px;
    width: calc(100% - 10px);
    border-bottom: 1px solid var(--highlight_color_03);
}

b.dash-changelog-field-title {
    font-size: 16px;
}

b.dash-changelog-field-name {
    color: rgb(83, 131, 196);
}

.stats {
    font-size: large;
}

div.dash-systems {
    background-image: url("../images/systems_icon.svg");
}

div.dash-spec {
    background-image: url("../images/spectra_icon.svg");
}

div.dash-lc {
    background-image: url("../images/lc_icon.svg");
}

div.dash-aly {
    background-image: url("../images/analysis_icon.svg");
}

button.dash-button {
    width: 48%;
    height: 48%;
    text-align: left;
    font-size: 32px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    background-color: rgba(173, 215, 246, 0.2);
    border: 2px solid var(--highlight_color_03);
    border-radius: 10px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 1);
}

button.dash-button:hover {
    background-color: rgba(173, 215, 246, 0.4);
}

button.dash-button:disabled {
    background-color: rgba(233, 240, 245, 0.2);
    border: 2px solid rgba(121, 136, 143, 0.3);
    color: rgba(160, 162, 163, 1);
    cursor: default;
}

button.dash-button.top-button {
    margin-bottom: 3px;
}

button.dash-button.bottom-button {
    margin-top: 3px;
}

button.dash-button.left-button {
    margin-right: 3px;
}

button.dash-button.right-button {
    margin-left: 3px;
}

i.dash-icon {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 5px;
    color: rgba(23, 43, 54, 1);
}

.divlink {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.full-starmap {
    max-width: 90vw;
    max-height: 90vh;
}

#id_nsys {
    cursor: pointer;
    background-color: rgba(173, 215, 246, 0.2);
    border: 1px solid var(--highlight_color_03);
    border-radius: 5px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 1);
}
#id_nsys:hover {
    background-color: rgba(173, 215, 246, 0.4);
}

#id_xaxis {
    cursor: pointer;
    background-color: rgba(173, 215, 246, 0.2);
    border: 1px solid var(--highlight_color_03);
    border-radius: 5px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 1);
}
#id_xaxis:hover {
    background-color: rgba(173, 215, 246, 0.4);
}

#id_yaxis {
    cursor: pointer;
    background-color: rgba(173, 215, 246, 0.2);
    border: 1px solid var(--highlight_color_03);
    border-radius: 5px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 1);
}
#id_yaxis:hover {
    background-color: rgba(173, 215, 246, 0.4);
}

#id_size {
    cursor: pointer;
    background-color: rgba(173, 215, 246, 0.2);
    border: 1px solid var(--highlight_color_03);
    border-radius: 5px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 1);
}
#id_size:hover {
    background-color: rgba(173, 215, 246, 0.4);
}

#id_color {
    cursor: pointer;
    background-color: rgba(173, 215, 246, 0.2);
    border: 1px solid var(--highlight_color_03);
    border-radius: 5px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 1);
}

#id_color:hover {
    background-color: rgba(173, 215, 246, 0.4);
}

#submitbtn {
    cursor: pointer;
    background-color: rgba(173, 215, 246, 0.2);
    border: 1px solid var(--highlight_color_03);
    border-radius: 5px;
    border-collapse: separate;
    color: rgba(23, 43, 54, 1);
}

#submitbtn:hover {
    background-color: rgba(173, 215, 246, 0.4);
}


h2.latest-changes {
    margin: 10px;
    max-height: 5%;
}