{% extends "base.html" %}
{% load static %}
{% load conversion_tags %}

{% block head %}

    {% include "bokeh.html" %}
    <!--    <script type="text/javascript" src="{% static 'js/dataset_detail.js' %}"></script> -->
    <title>Analysis: Parameter plotter</title>

{% endblock %}


{% block headertitle %} Analysis: Parameter plotter {% endblock %}


{% block content %}

    <i display="none" id="project-pk" project={{ project.pk }}></i>

    <section class='data-section'>

        <div class="flex-data-container j-center">

            <div class="main-container maxw50 stretch">

                <div class="main-container border">
                    <h3> Plot Setup</h3>

                    <form action="{% url "analysis:parameter_plotter" project.slug %}" method="get">

                        <table>
                            <tbody>
                            {% for field in form %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <td>
                                        {{ field }}
                                    <td>
                                    <td style="color:red;">
                                        {{ field.errors }}
                                    <td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <input type="submit" value="Update Figure"/>
                    </form>

                </div>

                <div class="main-container border">
                    <h3>Statistics</h3>

                    <p> {{ statistics }} </p>

                </div>

            </div>

            <div class="main-container border minw800">
                {{ figure|safe }}
            </div>

        </div>

    </section>

    {{ script|safe }}

{% endblock %}
