{% extends "base.html" %}
{% load static %}

{% block head %}

    {% include "datatables.html" %}
    <script type="text/javascript" src="{% static 'js/sed_list.js' %}"></script>

    <title>SEDs</title>

{% endblock %}

{% block headertitle %} SEDs {% endblock %}

{% block content %}

    <i display="none" id="project-pk" project={{ project.pk }}></i>

    <i class="material-icons button filter" id="filter-dashboard-button">filter_list</i>

    <div id="filter-dashboard">

        <form method="get" action="/analysis/" class="table-filter" id="filter-form">
            <h3 class="center"> Filter SEDs </h3>

            <div class="table-filter-item">
                <p class="filter-label">Target:</p>
                <input class="filter-input" id="filter_target" type="text" placeholder="identifier">
            </div>

            <input type="submit" class="button filter" id="submit-search" value="Apply">
        </form>

    </div>

    <section>

        <table id="sedstable" class="fullwidth">
            <thead>
            <tr>
                {% if user.is_authenticated %}
                    <th>
                        <i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i>
                    </th>
                {% endif %}
                <th>Effective Temperature T<sub>eff</sub></th>
                <th>System</th>
                <th>Surface Gravity log(g)</th>
                <th>Angular diameter log(ϴ)</th>
                <th>Metallicity</th>
                <th>Color Excess</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                {% if user.is_authenticated %}
                    <th></th>
                {% endif %}
                <th>Effective Temperature T<sub>eff</sub></th>
                <th>System</th>
                <th>Surface Gravity log(g)</th>
                <th>Angular diameter log(ϴ)</th>
                <th>Metallicity</th>
                <th>Color Excess</th>
            </tr>
            </tfoot>
        </table>

    </section>

    <div id="uploadseds">
        <div class="ui-controlgroup-horizontal">
            <form action="{% url "analysis:SED_list" project.slug %}" method="post"
                  enctype="multipart/form-data" class="upload" id="system-upload-form">
                <h3> Add new SEDs </h3>
                {% if user.is_authenticated %}
                    {% csrf_token %}
                    {% if upload_form.non_field_errors %}
                        <p>{{ upload_form.non_field_errors }}</p>
                    {% endif %}

                    <p>
                        {{ upload_form.sourcefile.errors }}
                        {{ upload_form.sourcefile }}
                    </p>

                    <!--       <input id="system-add-upload-button" type="submit" class="material-icons button" value="file_upload"/> -->
                    <input type="submit" class="upload-button" value="Upload SED File"/>
                {% else %}
                    <p> Log in to upload SEDs! </p>
                {% endif %}
            </form>
        </div>
        <a disabled {#  href="/media/docs/Bulk_system_example.csv" #}><p class="add-system-csv-example">Example .fits file (coming soon!)</p>
        </a>
    </div>
{% endblock %}
