{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fontawesome_regular.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fontawesome_solid.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/base_js.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

    {% block head %}{% endblock %}
</head>

<body>

<div class="page-wrap-base">
    <nav>
        <div class="nav_bar" id="mainNavBar">
          <a class="logo" href="/w/projects">
        <!--   <img src={% static "images/aotslogo.png" %}>-->
              AOTS
          </a>
<!--           &mdash; -->
          <a class="title_line">{{ project.name }}<i class="site_title">  &mdash; {% block headertitle %}{% endblock %}</i></a>
          <div class="float_right">
            <a href="/" id="projects_a">
              <i class="fa-solid fa-diagram-project"></i>
              Projects
            </a>
            <a href={% url 'dash:dashboard' project.slug %} id="dashboard_a">
              <i class="fa-solid fa-table-columns"></i>
              Dashboard
            </a>
            <div class="nav_dropdown" id="system_dropdown">
              <button class="drop_button">
                <i class="fa-solid fa-star"></i>
                Systems
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="nav_dropdown-content">
                <a href={% url 'systems:star_list' project.slug %}>System list</a>
                <a href={% url 'systems:tag_list' project.slug %}>Tags</a>
              </div>
            </div>
            <div class="nav_dropdown" id="observation_dropdown">
              <button class="drop_button">
                <i class="fa-solid fa-binoculars"></i>
                Observations
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="nav_dropdown-content">
                  <div class="unfold" >
                    <button class="unfold_button">Spectra
                      <i class="fa fa-caret-right" id="caretRight"></i>
                    </button>
                    <div class="unfold-content">
                      <a href={% url 'observations:spectra_list' project.slug %}>Overview</a>
                      <a href={% url 'observations:spectra_upload' project.slug %}>Upload</a>
                      <a href={% url 'observations:specfile_list' project.slug %}>File list</a>
                      <a href={% url 'observations:rawspecfile_list' project.slug %}>Raw data</a>
                    </div>
                  </div>
                <a href={% url 'observations:lightcurve_list' project.slug %}>Light Curves</a>
                <a href={% url 'observations:observatory_list' project.slug %}>Observatories</a>
              </div>
            </div>
            <div class="nav_dropdown" id="analysis_dropdown">
              <button class="drop_button">
                <i class="fa-solid fa-chart-line"></i>
                Analysis
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="nav_dropdown-content">
                <a href={% url 'analysis:dataset_list' project.slug %}>Datasets</a>
                <a href={% url 'analysis:method_list' project.slug %}>Methods</a>
              </div>
            </div>
            <a href="/w/documentation">
              <i class="fa-solid fa-book"></i>
              Guides
            </a>
            {% if user.is_authenticated %}
                <div class="nav_dropdown" id="user_dropdown">
                  <button class="drop_button active">
                    <i class="fa-solid fa-user"></i>
                    {{ user }}
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="nav_dropdown-content">
                    <a href="/users/you">View Profile</a>
                    <a href="/accounts/password_change">Change password</a>
                    <a href="/accounts/logout">Log Out</a>
                  </div>
                </div>
            {% else %}
                <div class="nav_dropdown" id="user_dropdown">
                  <button class="drop_button active">
                    <i class="fa-solid fa-user"></i>
                    Log In
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="nav_dropdown-content">
                    <a href="/accounts/login/?next={{ request.path }}">Log In</a>
                    <a href="/accounts/password_reset">Reset password</a>
                  </div>
                </div>
            {% endif %}
        <!--    <a href="#about">About</a>-->
            <a href="javascript:void(0);" class="menu_icon" id="menu_icon">&#9776;</a>
          </div>
        </div>
    </nav>

    {% if messages %}
        <div class="msg-container">
            <ul id="messages" class="msg-list">
                {% for message in messages %}
                    <li {% if message.tags %} class="single-msg {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

</div>

<!--   Hidden field with username  -->
<textarea id="user-name" hidden>
    {{ user.first_name }} {{ user.last_name }}
</textarea>

<script type="text/javascript">
    // Save in this variable if there is an authenticated user
    // This variable is accessible on every other place in the code.
    {% if user.is_authenticated %}
        var user_authenticated = true;
    {% else %}
        var user_authenticated = false;
    {% endif %}
</script>

<footer class="site-footer">
    <div>
        <i>
            <!--       contact: jorisvos (at) uni-potsdam.de -->
            contact: aots (at) astro.physik.uni-potsdam.de
        </i>

        <i>
            source code: <a href="https://github.com/vosjo/AOTS">https://github.com/vosjo/AOTS</a>
        </i>

    </div>
</footer>

<!--    Cookie banner to comply with EU cookie law -->
<!--    https://github.com/dobarkod/cookie-banner/ -->
<script type="text/javascript" id="cookiebanner"
        src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
        data-message="We use cookies to improve your browsing experience."
        moreinfo="https://en.wikipedia.org/wiki/HTTP_cookie">
</script>

</body>
</html>
