{% load static %}
<link href="{% static 'datatables.css' %}" rel="stylesheet" type="text/css">
<!-- <link href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' rel="stylesheet" type="text/css"> -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
<!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
