{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'jquery-ui.css' %}" rel="stylesheet" type="text/css">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/base_js.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui.min.js' %}"></script>

    {% block head %}{% endblock %}
</head>

<body>

<div class="page-wrap">

    <header>

        <!--<div class="block">
   <img width="50px" height="75px"  src="{% static 'bimot_logo.svg' %}"/>
   </div>-->

        <div id='titlebar'>
            <h1>AOTS</h1>
            <h2>{% block headertitle %}{% endblock %}</h2>
        </div>

        <nav>


            <div id="toolbar" role='navigation'>
                <ul>
                    <li>
                        <i class="icon material-icons">help</i>
                        <a href="/w/documentation/"> <u>docs</u> </a>
                    </li>
                    <li>
                        <i class="icon material-icons">assignment</i>
                        <a href="/w/projects/"> Projects</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <i class="icon material-icons">account_circle</i>
                            <a href="#">{{ user }}</a>
                            <ul>
                                <li><a href="/accounts/logout">Log Out</a></li>
                                <li><a href="/accounts/password_change">Change password</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <i class="icon material-icons">lock</i>
                            <a href="/accounts/login/?next={{ request.path }}">Log In</a>
                            <ul>
                                <li><a href="/accounts/login/?next={{ request.path }}">Log In</a></li>
                                <li><a href="/accounts/password_reset">Reset password</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>

            </div>

            <!--       <div id="subtoolbar" role='navigation'> -->
            <!--       </div> -->

        </nav>

        {% block header %}{% endblock %}
    </header>

    <ul id="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>


    {% block content %}{% endblock %}
</div>

<script type="text/javascript">
    // Save in this variable if there is an authenticated user
    // This variable is accessible on every other place in the code.
    {% if user.is_authenticated %}
        var user_authenticated = true;
    {% else %}
        var user_authenticated = false;
    {% endif %}
</script>

<footer class="site-footer">
    <div>

        <i>
            <!--       contact: jorisvos (at) uni-potsdam.de -->
            contact: aots (at) astro.physik.uni-potsdam.de
        </i>

        <i>
            source code: <a href="https://github.com/vosjo/AOTS">https://github.com/vosjo/AOTS</a>
        </i>

    </div>
</footer>

<!--    Cookie banner to comply with EU cookie law -->
<!--    https://github.com/dobarkod/cookie-banner/ -->
<script type="text/javascript" id="cookiebanner"
        src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
        data-message="We use cookies to improve your browsing experience."
        moreinfo="https://en.wikipedia.org/wiki/HTTP_cookie">
</script>

</body>
</html>
