{% extends "base.html" %}
{% load static %}

{% block head %}
    {% include "bokeh.html" %}
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    <title>Project dashboard</title>

{% endblock %}

{% block headertitle %} Project dashboard {% endblock %}

{% block content %}
    <div class="dashboard-wrapper">
        <div class="dash-upperrow">
            {#            <div class="dash-square dash-upper-left "><h1>Project Statistics</h1>#}
            {#                <br>#}
            {#                <p class="stats">Number of Stars: <b>{{ stats.nstars }}</b>{% if stats.nstarslw != 0 %}#}
            {#                    <span style="color: #228B22"> + <b>{{ stats.nstarslw }}</b> last week</span>{% endif %}</p>#}
            {#                <p class="stats">Of which with Spectra: <b>{{ stats.nspec }}</b> {% if stats.nspeclw != 0 %}#}
            {#                    <span style="color: #228B22"> +<b>{{ stats.nspeclw }}</b> spectra last week</span>{% endif %}</p>#}
            {#                <p class="stats">Number of Lightcurves: <b>{{ stats.nlc }}</b>{% if stats.nlclw != 0 %}#}
            {#                    <span style="color: #228B22"> + <b>{{ stats.nlclw }}</b> last week</span>{% endif %}</p>#}
            {#            </div>#}
            <div class="dash-square dash-upper-left dash-systems">
                <a onclick="location.href='../../systems/stars'">
                    <span class="divlink">
                    </span>
                </a>
                <span class="dash-stats-title">Systems</span>
                <b class="counter">{{ stats.nstars }}</b>
                {% if stats.nstarslw != 0 %}
                    <span style="color: #228B22"> + <b>{{ stats.nstarslw }}</b> last week</span>
                {% endif %}
            </div>
            <div class="dash-square dash-upper-left dash-spec">
                <a onclick="location.href='../../observations/spectra'">
                    <span class="divlink">
                    </span>
                </a>
                <span class="dash-stats-title">Spectra</span>
                <b class="counter">{{ stats.nspec }}</b>
                {% if stats.nspeclw != 0 %}
                    <span style="color: #228B22"> + <b>{{ stats.nspeclw }}</b> last week</span>
                {% endif %}
            </div>
            <div class="dash-square dash-upper-left dash-lc">
                <a onclick="location.href='../../observations/lightcurves'">
                    <span class="divlink">
                    </span>
                </a>
                <span class="dash-stats-title">Lightcurves</span>
                <b class="counter">{{ stats.nlc }} </b>
                {% if stats.nlclw != 0 %}
                    <span style="color: #228B22"> + <b>{{ stats.nlclw }}</b> last week</span>
                {% endif %}
            </div>
            <div class="dash-square dash-upper-left dash-aly">
                <a onclick="location.href='../../analysis/datasets'">
                    <span class="divlink">
                    </span>
                </a>
                <span class="dash-stats-title">Datasets</span>
                <b class="counter">{{ stats.naly }}</b>
                {% if stats.nlclw != 0 %}
                    <span style="color: #228B22"> + <b>{{ stats.nalylw }}</b> last week</span>
                {% endif %}
            </div>
            <div class="dash-project-sky-preview-wrapper">
                {% if project.preview_starmap %}
                    <img class="project-logo" src="{{ project.preview_starmap.url }}" alt="{{ project.name }} Starmap" onclick="openDetailedStarmap()">
                {% else %}
                    <img class="project-logo" src="{% static "images/default_logo.png" %}" alt="{{ project.name }} Starmap">
                {% endif %}
            </div>
            <div class="dash-upper-right">
                <button class="dash-button top-button left-button" onclick="location.href='../../systems/stars'" type="button">
                    <i class="icon material-icons dash-icon">auto_awesome</i> Systems
                </button>
                <button class="dash-button top-button right-button" onclick="location.href='../../observations/spectra'" type="button">
                    <i class="icon material-icons dash-icon">insights</i> Spectra
                </button>
                <button class="dash-button bottom-button left-button" onclick="location.href='../../observations/lightcurves'" type="button">
                    <i class="icon material-icons dash-icon">flare</i> Lightcurves
                </button>
                <button class="dash-button bottom-button right-button" onclick="location.href='../../analysis/datasets'" type="button">
                    <i class="icon material-icons dash-icon">bar_chart</i> Analysis
                </button>
            </div>
        </div>
        <div class="dash-lowerrow">
            <div class="dash-square dash-lower-left">
                <div class="dash-overview-plot">
                    <h1>Project Overview</h1>
                    {{ hrd_plot|safe }}
                </div>
                <div class="dash-overview-params">
                    <form action="{% url "dash:dashboard" project.slug %}" method="get">
                        {% csrf_token %}
                        <table>
                            <tbody>
                            {% for ind, field in form %}
                                <tr id="tr_{{ ind }}">
                                    <th>{{ field.label_tag }}</th>
                                    <td>
                                        {{ field }}
                                    <td>
                                    <td style="color:red;">
                                        {{ field.errors }}
                                    <td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <input id="submitbtn" type="submit" value="Update Figure"/>
                    </form>
                </div>
            </div>
            <div class="dash-square dash-lower-center"><h1>Planned Observations</h1>
                <p style="font-size: xx-large">This section is <b>Under Construction!</b></p>
            </div>
            <div class="dash-square dash-lower-right"><h1>Latest changes</h1>
                <div class="dash-changelog-container">
                    {% for event in recent_changes %}
                        <div class="dash-changelog-field">
                            {% if event.modeltype == "Star" %}
                                <b class="dash-changelog-field-title">
                                    <a href={% url 'systems:star_detail' project.slug event.instance.pk %}>{{ event.instance.name }}</a> was
                                    {% if event.created %} created{% else %} modified{% endif %}</b><br>
                                by<b class="dash-changelog-field-name">
                                {% if event.user is not None %}{{ event.user }}{% else %}unknown{% endif %}</b>, {{ event.date }}
                            {% elif event.modeltype == "Spectrum" and event.instance.star is not None %}
                                <b class="dash-changelog-field-title"> A spectrum for
                                    <a href={% url 'systems:star_detail' project.slug event.instance.star.pk %}>{{ event.instance.star.name }}</a> was
                                    {% if event.created %} created{% else %} modified {% endif %}</b><br>
                                by<b class="dash-changelog-field-name">
                                {% if event.user is not None %}{{ event.user }}{% else %}unknown{% endif %}</b>, {{ event.date }}
                            {% elif event.modeltype == "LightCurve" and event.instance.star is not None %}
                                <b class="dash-changelog-field-title"> A lightcurve for
                                    <a href={% url 'systems:star_detail' project.slug event.instance.star.pk %}>{{ event.instance.star.name }}</a> was
                                    {% if event.created %} created{% else %} modified {% endif %}</b><br>
                                by<b class="dash-changelog-field-name">
                                {% if event.user is not None %}{{ event.user }}{% else %}unknown{% endif %}</b>, {{ event.date }}
                            {% elif event.modeltype == "DataSet" and event.instance.star is not None %}
                                <b class="dash-changelog-field-title"> A dataset for
                                    <a href={% url 'systems:star_detail' project.slug event.instance.star.pk %}>{{ event.instance.star.name }}</a> was
                                    {% if event.created %} created{% else %} modified {% endif %}</b><br>
                                by<b class="dash-changelog-field-name">
                                {% if event.user is not None %}{{ event.user }}{% else %}unknown{% endif %}</b>, {{ event.date }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="detailedStarmap" title="Copy Photometry">
        {% if project.full_starmap %}
            <img class="full-starmap" src="{{ project.full_starmap.url }}" alt="{{ project.name }} logo">
        {% endif %}
    </div>
    {{ script|safe }}
{% endblock %}
