{% extends "landing.html" %}

{% load static %}

{% block head %}
    {% include "datatables.html" %}
    <script type="text/javascript" src="{% static 'js/tags_list.js' %}"></script>
    <title>Projects</title>
{% endblock %}

{% block headertitle %} Projects {% endblock %}

{% block navigation %}
    <a href="/stars/stars"> INDEX </a>
    <strong>|</strong>
    <a href="/stars/tags" class="active"> Tags </a>
{% endblock %}


{% block content %}

    {% if private_projects %}
        <section class='data-section' id="private_projects">

            <h3 class='indent'>Private projects</h3>

            <div class="flex-data-container j-center">

                {% for project in private_projects %}

                    <div class='project-container' id="project-{{ project.pk }}">
                        <a href= {% url 'dash:dashboard' project.slug %}>
                            <h3 class="titlelink">{{ project.name }}</h3>
                            <span class="projectlink"></span></a>
                        <div>
                            {% if project.logo %}
                                <img class="project-logo" src="{{ project.logo.url }}" alt="{{ project.name }} logo">
                            {% else %}
                                <img class="project-logo" src="{% static "images/default_logo.png" %}"
                                     alt="{{ project.name }} logo">
                            {% endif %}
                        </div>
                        <i>{{ project.description }}</i>
                    </div>
                {% endfor %}

            </div>

            <hr>

        </section>
    {% endif %}


    <section class='data-section' id="public_projects">

        <h3 class='indent'>Public projects</h3>


        <div class="flex-data-container j-center">

            {% for project in public_projects %}

                <div class='project-container' id="project-{{ project.pk }}">


                    <a href= {% url 'dash:dashboard' project.slug %}><h3 class="titlelink">{{ project.name }}</h3>
                        <span class="projectlink"></span></a>


                    <div>

                        {% if project.logo %}
                            <img class="project-logo" src="{{ project.logo.url }}" alt="{{ project.name }} logo">
                        {% else %}
                            <img class="project-logo" src="{% static "images/default_logo.png" %}"
                                 alt="{{ project.name }} logo">
                        {% endif %}

                    </div>

                    <i>{{ project.description }}</i>

                </div>
            {% endfor %}

        </div>


    </section>

{% endblock %}
