{% extends "landing.html" %}

{% load static %}

{% block head %}
{% include "datatables.html" %}
<script type="text/javascript" src="{% static 'js/tags_list.js' %}"></script>
{% endblock %}

{% block headertitle %} Projects {% endblock %}

{% block navigation %}
   <a href="/stars/stars"> INDEX </a>
   <strong>|</strong> 
   <a href="/stars/tags" class="active"> Tags </a>
{% endblock %}


{% block content %}


<section class='data-section' id="pojects">

<div class="flex-data-container j-center">

   {% for project in projects %}
      
      <div class='project-container'  id="project-{{project.pk}}">
      
         <h3>
         <a href= {% url 'systems:star_list' project.slug %}>{{project.name}}</a>
         </h3>
         
         <div>
         
         {% if project.logo %}
         <img class="project-logo" src="{{project.logo.url}}" alt="{{project.name}} logo">
         {% else %}
         <img class="project-logo" src="{% static "images/default_logo.png" %}" alt="{{project.name}} logo">
         {% endif %}
         
         </div>
         
         <i>{{project.description}}</i>
         
      </div>
   {% endfor %}
   
</div>
   
</section>
   
{% endblock %}
