{% extends "base.html" %}
{% load static %}
{% load conversion_tags %}

{% block head %}
{% include "datatables.html" %}

{% endblock %}

{% block headertitle %} Systems: Index ({{project.name}}) {% endblock %}


{% block content %}

<i display="none" id="project-pk" project={{project.pk}}></i>

<i class="material-icons button filter" id="filter-dashboard-button">filter_list</i>

<div id="filter-dashboard">

   <form method="get" action="/stars/" class="table-filter" id="filter-form">
   <h3 class="center"> Filter Systems </h3>

   <div class="table-filter-item">
      <p class="filter-label" title="Uses simbad name solver">Name:</p>
      <input class="filter-input" id="filter_name" type="text" placeholder="identifier">
   </div>

   <div class="table-filter-item">
      <p class="filter-label" title="00:00:00 +00:00:00 or 000.000 +00.000">Co:</p>
      <input class="filter-input" id="filter_co" type="text" placeholder="coodinate search">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">RA:</p>
      <input class="filter-input" id="filter_ra" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Dec:</p>
      <input class="filter-input" id="filter_dec" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">G-mag:</p>
      <input class="filter-input" id="filter_mag" type="text" placeholder="min:max">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">#phot:</p>
      <input class="filter-input" id="filter_nphot" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">#spec:</p>
      <input class="filter-input" id="filter_nspec" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">#lc:</p>
      <input class="filter-input" id="filter_nlc" type="text" placeholder="min:max">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Class:</p>
      <input class="filter-input" id="filter_class" type="text" placeholder="class">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Type: </p>
      <ul id="classification_options">
         <li><label for="id_classtype_0"><input id="id_classtype_0" name="status" type="checkbox" value="PH" /> Photometric</label></li>
         <li><label for="id_classtype_1"><input id="id_classtype_1" name="status" type="checkbox" value="SP" /> Spectroscopic</label></li>
      </ul>
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Status: </p>
      <ul id="status_options">
         <li><label for="id_status_0"><input id="id_status_0" name="status" type="radio" value="FI" /> Finished</label></li>
         <li><label for="id_status_1"><input id="id_status_1" name="status" type="radio" value="ON" /> Ongoing</label></li>
         <li><label for="id_status_2"><input id="id_status_2" name="status" type="radio" value="RE" /> Rejected</label></li>
         <li><label for="id_status_3"><input id="id_status_3" name="status" type="radio" value="NE" /> New</label></li>
      </ul>
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Tags:</p>
      <ul id="tag_filter_options">
      </ul>
   </div>

   <input type="submit" class="button filter" id="submit-search" value="Apply">
   </form>

</div>

<section>

<table id="datatable" class="fullwidth">
<thead>
   <tr>
   <th><i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i></th>
   <th>Name</th>
   <th>RA</th>
   <th>Dec</th>
   <th>Class</th>
   <th>G-mag</th>
   <th title="# Photometry / Spectra / Light curves">Nobs</th>
   <th>Datasets</th>
   <th>Tags</th>
   <th>Status</th>
   </tr>
</thead>
<tfoot>
   <tr>
   <th></th>
   <th>Name</th>
   <th>RA</th>
   <th>Dec</th>
   <th>Class</th>
   <th>G-mag</th>
   <th>Nobs</th>
   <th>Datasets</th>
   <th>Tags</th>
   <th>Status</th>
   </tr>
</tfoot>
</table>

</section>

<div id="editStatus" class="ui-dialog">
   <div id='status-error' class='error-message'></div>
   <ul id="statusOptions">
      <li><input type="radio" name="new-status" value="FI"> Finished   </li>
      <li><input type="radio" name="new-status" value="ON"> Ongoing    </li>
      <li><input type="radio" name="new-status" value="RE"> Rejected   </li>
      <li><input type="radio" name="new-status" value="NE"> New        </li>
   </ul>
</div>

<div id="editTags">
   <div id='tag-error' class='error-message'></div>
   <ul id="tagOptions">
   </ul>
</div>

<div id="addSystems">
    <div id='bulk-add' class='bulk-system-upload'>
    <fieldset>
    <legend>Add Multiple Systems via .csv File</legend>
    <div class="ui-controlgroup-horizontal">
    <form action="{% url "systems:star_list" project.slug %}" method="post" enctype="multipart/form-data" class="upload" id="system-upload-form">
      <h3> Add new Systems </h3>
      {% if user.is_authenticated %}
      {% csrf_token %}
      {% if upload_form.non_field_errors %}
      <p>{{ upload_form.non_field_errors }}</p>
      {% endif %}

      <p>
      {{ upload_form.system.errors }}
      {{ upload_form.system }}
      </p>

      <input id="system-add-upload-button" type="submit" class="material-icons button" value="file_upload"/>
      {% else %}
      <p> Log in to upload files! </p>
      {% endif %}
    </form>
    </div>
    <a href="/media/docs/Bulk_system_example.csv"><p class="add-system-csv-example">Example .csv file</p></a>
    </fieldset>
    </div>

   <div id='single-add' class='single-system-form'>

   <fieldset>
   <legend>Add Single System by Form</legend>
        <div class="ui-controlgroup-horizontal">

        <form action="{% url "systems:star_list" project.slug %}" method="post" enctype="multipart/form-data" class="" id="system-detail-upload-form">

        {% if user.is_authenticated %}
            {% csrf_token %}

        <fieldset>


        <legend>Tags</legend>
            <ul id="add-option-tags">
                {{ form_detail.tags }}
            </ul>

        </fieldset>

        <fieldset>
        <legend>Name and values*</legend>
        <div class="cg-block">
            <table class="system-form-table">
                <tr>
                    <td>
                        <label for="{{ form_detail.main_id.id_for_label }}">Name (main id):</label>
                    </td>
                    <td>
                        {{ form_detail.main_id }}
                        <span class="error"> {{ form_detail.main_id.errors.as_text }} </span>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.ra.id_for_label }}">Right ascension:</label>
                    </td>
                    <td>
                        {{ form_detail.ra }}
                        <span class="error"> {{ form_detail.ra.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.dec.id_for_label }}">Declination:</label>
                    </td>
                    <td>
                        {{ form_detail.dec }}
                        <span class="error"> {{ form_detail.dec.errors.as_text }} </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.sp_type.id_for_label }}">Spectral Type:</label>
                    </td>
                    <td>
                        {{ form_detail.sp_type }}
                        <span class="error"> {{ form_detail.sp_type.errors.as_text }} </span>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.parallax.id_for_label }}">Parallax:</label>
                    </td>
                    <td>
                        {{ form_detail.parallax }}
                        <span class="error"> {{ form_detail.parallax.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.parallax_error.id_for_label }}">Parallax Error:</label>
                    </td>
                    <td>
                        {{ form_detail.parallax_error }}
                        <span class="error"> {{ form_detail.parallax_error.errors.as_text }} </span>
                    </td>
                </tr>
            </table>
        </div>
        </fieldset>

        <fieldset>
        <legend>Proper Motion</legend>
        <div class="cg-block">
            <table class="system-form-table">
                <tr>
                    <td>
                        <label for="{{ form_detail.pmra_x.id_for_label }}">Right ascension:</label>
                    </td>
                    <td>
                        {{ form_detail.pmra_x }}
                        <span class="error"> {{ form_detail.pmra_x.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.pmra_error.id_for_label }}">Error:</label>
                    </td>
                    <td>
                        {{ form_detail.pmra_error }}
                        <span class="error"> {{ form_detail.pmra_error.errors.as_text }} </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.pmdec_x.id_for_label }}">Declination:</label>
                    </td>
                    <td>
                        {{ form_detail.pmdec_x }}
                        <span class="error"> {{ form_detail.pmdec_x.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.pmdec_error.id_for_label }}">Error:</label>
                    </td>
                    <td>
                        {{ form_detail.pmdec_error }}
                        <span class="error"> {{ form_detail.pmdec_error.errors.as_text }} </span>
                    </td>
                </tr>
            </table>
        </div>
        </fieldset>

        <fieldset><legend>Gaia DR2 photometry</legend>
        <div class="cg-block">
            <table class="system-form-table">
                <tr>
                    <td>
                        <label for="{{ form_detail.phot_g_mean_mag.id_for_label }}">G:  </label>
                    </td>
                    <td>
                        {{ form_detail.phot_g_mean_mag }}
                        <span class="error"> {{ form_detail.phot_g_mean_mag.errors.as_text }} </span>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.phot_bp_mean_mag.id_for_label }}">Gbp:</label>
                    </td>
                    <td>
                        {{ form_detail.phot_bp_mean_mag}}
                        <span class="error"> {{ form_detail.phot_bp_mean_mag.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.phot_rp_mean_mag.id_for_label }}">Grp:</label>
                    </td>
                    <td>
                        {{ form_detail.phot_rp_mean_mag }}
                        <span class="error"> {{ form_detail.phot_rp_mean_mag.errors.as_text }} </span>
                    </td>
                </tr>
            </table>
        </div>
        </fieldset>

        <fieldset>
        <legend>JHK and WISE photometry</legend>
        <div class="cg-block">
            <table class="system-form-table">
                <tr>
                    <td>
                        <label for="{{ form_detail.Jmag.id_for_label }}">J: </label>
                    </td>
                    <td>
                        {{ form_detail.Jmag }}
                        <span class="error"> {{ form_detail.Jmag.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.Hmag.id_for_label }}">H:</label>
                    </td>
                    <td>
                        {{ form_detail.Hmag }}
                        <span class="error"> {{ form_detail.Hmag.errors.as_text }} </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.Kmag.id_for_label }}">K:</label>
                    </td>
                    <td>
                        {{ form_detail.Kmag }}
                        <span class="error"> {{ form_detail.Kmag.errors.as_text }} </span>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.W1mag.id_for_label }}">W1:</label>
                    </td>
                    <td>
                        {{ form_detail.W1mag }}
                        <span class="error"> {{ form_detail.W1mag.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.W2mag.id_for_label }}">W2:</label>
                    </td>
                    <td>
                        {{ form_detail.W2mag }}
                        <span class="error"> {{ form_detail.W2mag.errors.as_text }} </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="{{ form_detail.W3mag.id_for_label }}">W3:</label>
                    </td>
                    <td>
                        {{ form_detail.W3mag }}
                        <span class="error"> {{ form_detail.W3mag.errors.as_text }} </span>
                    </td>
                    <td>
                        <label for="{{ form_detail.W4mag.id_for_label }}">W4:</label>
                    </td>
                    <td>
                        {{ form_detail.W4mag }}
                        <span class="error"> {{ form_detail.W4mag.errors.as_text }} </span>
                    </td>
                </tr>
            </table>
        </div>
        </fieldset>

        </div>

        <p class="add-system-footnote">Blocks marked with a '*' are required</p>

        <div class="system-form-submit">
            <input type="submit" class="system-form-submit-button" value="Add System"/>
        </div>

        {% else %}
            <p> Log in to upload files! </p>
        {% endif %}

        </form>

    </fieldset>
   </div>
   <div id='bulk-add' class='bulk-system-form'></div>
</div>

<script type="text/javascript" src="{% static 'js/stars_list.js' %}"></script>

{% endblock %}
