{% extends "base.html" %}
{% load static %}
{% load conversion_tags %}

{% block head %}
{% include "datatables.html" %}

{% endblock %}

{% block headertitle %} Systems: Index ({{project.name}}) {% endblock %}


{% block content %}

<i display="none" id="project-pk" project={{project.pk}}></i>

<i class="material-icons button filter" id="filter-dashboard-button">filter_list</i>

<div id="filter-dashboard">

   <form method="get" action="/stars/" class="table-filter" id="filter-form">
   <h3 class="center"> Filter Systems </h3>

   <div class="table-filter-item">
      <p class="filter-label" title="Uses simbad name solver">Name:</p>
      <input class="filter-input" id="filter_name" type="text" placeholder="identifier">
   </div>

   <div class="table-filter-item">
      <p class="filter-label" title="00:00:00 +00:00:00 or 000.000 +00.000">Co:</p>
      <input class="filter-input" id="filter_co" type="text" placeholder="coodinate search">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Ra:</p>
      <input class="filter-input" id="filter_ra" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Dec:</p>
      <input class="filter-input" id="filter_dec" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">G-mag:</p>
      <input class="filter-input" id="filter_mag" type="text" placeholder="min:max">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">#phot:</p>
      <input class="filter-input" id="filter_nphot" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">#spec:</p>
      <input class="filter-input" id="filter_nspec" type="text" placeholder="min:max">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">#lc:</p>
      <input class="filter-input" id="filter_nlc" type="text" placeholder="min:max">
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Class:</p>
      <input class="filter-input" id="filter_class" type="text" placeholder="class">
   </div>

   <div class="table-filter-item">
      <p class="filter-label">Type: </p>
      <ul id="classification_options">
         <li><label for="id_classtype_0"><input id="id_classtype_0" name="status" type="checkbox" value="PH" /> Photometric</label></li>
         <li><label for="id_classtype_1"><input id="id_classtype_1" name="status" type="checkbox" value="SP" /> Spectroscopic</label></li>
      </ul>
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Status: </p>
      <ul id="status_options">
         <li><label for="id_status_0"><input id="id_status_0" name="status" type="radio" value="FI" /> Finished</label></li>
         <li><label for="id_status_1"><input id="id_status_1" name="status" type="radio" value="ON" /> Ongoing</label></li>
         <li><label for="id_status_2"><input id="id_status_2" name="status" type="radio" value="RE" /> Rejected</label></li>
         <li><label for="id_status_3"><input id="id_status_3" name="status" type="radio" value="NE" /> New</label></li>
      </ul>
   </div>

   <hr>

   <div class="table-filter-item">
      <p class="filter-label">Tags:</p>
      <ul id="tag_filter_options">
      </ul>
   </div>

   <input type="submit" class="button filter" id="submit-search" value="Apply">
   </form>

</div>

<section>

<table id="datatable" class="fullwidth">
<thead>
   <tr>
   <th><i id="select-all" class="material-icons button select" title="Select/Deselect All">check_box_outline_blank</i></th>
   <th>Name</th>
   <th>RA</th>
   <th>Dec</th>
   <th>Class</th>
   <th>G-mag</th>
   <th title="# Photometry / Spectra / Light curves">Nobs</th>
   <th>Datasets</th>
   <th>Tags</th>
   <th>Status</th>
   </tr>
</thead>
<tfoot>
   <tr>
   <th></th>
   <th>Name</th>
   <th>RA</th>
   <th>Dec</th>
   <th>Class</th>
   <th>G-mag</th>
   <th>Nobs</th>
   <th>Datasets</th>
   <th>Tags</th>
   <th>Status</th>
   </tr>
</tfoot>
</table>

</section>

<div id="editStatus" class="ui-dialog">
   <div id='status-error' class='error-message'></div>
   <ul id="statusOptions">
      <li><input type="radio" name="new-status" value="FI"> Finished   </li>
      <li><input type="radio" name="new-status" value="ON"> Ongoing    </li>
      <li><input type="radio" name="new-status" value="RE"> Rejected   </li>
      <li><input type="radio" name="new-status" value="NE"> New        </li>
   </ul>
</div>

<div id="editTags">
   <div id='tag-error' class='error-message'></div>
   <ul id="tagOptions">
   </ul>
</div>

<script type="text/javascript" src="{% static 'js/stars_list.js' %}"></script>

{% endblock %}
