{% extends "base.html" %}
{% load static %}

{% block head %}
{% include "datatables.html" %}
<script type="text/javascript" src="{% static 'js/tags_list.js' %}"></script>
{% endblock %}

{% block headertitle %} Systems: Tags {% endblock %}

{% block navigation %}
   <a href="/stars/stars"> INDEX </a>
   <strong>|</strong> 
   <a href="/stars/tags" class="active"> Tags </a>
{% endblock %}


{% block content %}


<section>

   <table id="tagtable" width="100%">
   <thead>
      <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th>Action <i class="tagAddButton material-icons button add" title="Add new">add_box</i></th>
      </tr>
   </thead>
   <tfoot>
      <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th>Action <i class="tagAddButton material-icons button add" title="Add new">add_box</i></th>
      </tr>
   </tfoot>
   </table>

</section>

   <div id="addEditTag">
      <table>
      <tr><td colspan='2'><input id="tag-name" type='text' placeholder="Name" size="50"></td></tr>
      <tr><td colspan='2'><textarea id="tag-description" placeholder="Description" cols="50" rows="2"></textarea></td></tr>
      <td><label>Color</label></td>
      <td><input id="tag-color" class="color-input" maxlength="7" name="color" value="#8B0000" required="" type="color"></td>
      </tr>
      </table>
   </div>
   

{% endblock %}