nav {
   display: inline-block;
   position: relative;
/*    padding-left: 10px; */
/*    clear: left; */
/*    width: 50%; */
/*    height: 100px; */
   float: right;
}

div#toolbar{
  display: block;
/*   position: absolute; */
/*   top: 0; */
/*   right: 0; */
/*   max-width:100%; */
  z-index:10;
/*   background: #fff; */
/*   box-shadow: 0 3px 10px -2px rgba(0,0,0,.1); */
/*   border: 1px solid rgba(0,0,0,.1); */
}
div#toolbar ul{
   list-style: none;
/*    position: relative; */
   float: right;
   margin-right: 50px;
   margin-top: 0px;
   display: inline-table;
}
div#toolbar ul li{
   float: left;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

div#toolbar ul li.active {background: rgba(0,0,0,.05);}

div#toolbar ul li:hover{background: rgba(0,0,0,.15);}
div#toolbar ul li:hover > ul{display: block;}
/*div#toolbar ul li{
   float: left;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}*/
div#toolbar ul li a{
   position: relative;
   display: block; 
   padding: 10px 20px;
   color: #222; 
   font-size: 1.2em;
   letter-spacing: 1px;
   text-decoration: none;
   text-transform: uppercase;
}
div#toolbar ul li ul{
   display: none;
   background: #fff;
   position: absolute; 
   top: 100%;
   box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
   border: 1px solid rgba(0,0,0,.1);
   z-index:11;
}
div#toolbar ul ul li{float: none; position: relative; z-index:11;}
/*div#toolbar ul ul li a {
   padding: 15px 30px; 
   border-bottom: 1px solid rgba(0,0,0,.05);
}
div#toolbar ul ul ul {
   position: absolute; 
   left: 100%; 
   top:0;
}*/

div#subtoolbar {
   display: block;
   float: left;
   background: rgba(0,0,0,.05);
/*   position: absolute; */
/*   top: 50px; */
/*   left: 0; */
/*   max-width: 50%; */
/*   z-index:10; */
}

div#subtoolbar ul{
   list-style: none;
   position: relative;
   float: right;
   margin-right: 50px;
   margin-top: 0px;
   display: inline-table;
   vertical-align: top;
}
div#subtoolbar ul li{
   float: left;
/*   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;*/
}

div#subtoolbar ul li a{
   position: relative;
   display: block; 
   padding: 10px 20px;
   color: #222; 
   font-size: 1.2em;
   letter-spacing: 1px;
   text-decoration: none;
   text-transform: uppercase;
}