 
{% extends "base.html" %}
{% load static %}
{% load conversion_tags %}

{% block head %}

   {% include "bokeh.html" %}
   {% include "bokeh_widgets.html" %}
   <script type="text/javascript" src="{% static 'js/spectra_detail.js' %}"></script>
   
{% endblock %}


{% block headertitle %}Spectrum: {{ spectrum }} {% endblock %}


{% block navigation %}
   <a href="/spectra/spectra"> INDEX </a>
      
   <strong>></strong>
   
   <a href="/spectra/spectra/{{ spectrum.id }}" class="active"> {{ spectrum.star.name }} : {{ spectrum.hjd }}</a>
   
{% endblock %}

{% block content %}
   
   <div id="sidenav">
   <h2> All Spectra for <span class="nobreak">{{spectrum.star.name}}</span> </h2>
   {% for inst, spectra in all_spectra.items %}
      <h3> {{ inst }} </h3>
      <ul>
      {% for spec in spectra %}
         {% if spec.id == spectrum.id %}
         <li> <a href="/spectra/spectra/{{ spec.id }}/" class="active"> {{ spec.hjd|floatformat:3 }} - {{ spec.hjd|hjd2date }}</a> </li>
         {% else %}
         <li> <a href="/spectra/spectra/{{ spec.id }}/"> {{ spec.hjd|floatformat:3 }} - {{ spec.hjd|hjd2date }}</a> </li>
         {% endif %}
      {% endfor %}
      </ul>
   {% endfor %}
   </div>

   <section class='data-section'>

   <h3>Observing Information</h3>
   
   <div class="flex-data-container j-center">
   
   <div class="tag-container">
   <h3>Basic Data </h3>
   
   <div class="block">
   <div class="block">
   <table class='datatable'>
   <tbody>
      <tr> <th>Target:</th> <td class="mono"><a href="/stars/stars/{{ spectrum.star.id }}/">{{ spectrum.star.name }}</a></td> </tr>
      <tr> <th>Target Coord.:</th> <td class="mono">{{ spectrum.star.ra|dgr2hms }}  {{ spectrum.star.dec|dgr2dms }}</td> </tr>
      <tr> <th>Obs. Coord.:</th> <td class="mono">{{ spectrum.ra|dgr2hms }}  {{ spectrum.dec|dgr2dms }}</td> </tr>
      <tr> <th>HJD:</th> <td class="mono">{{ spectrum.hjd }}</td> </tr>
      <tr> <th>Date:</th> <td class="mono">{{ spectrum.hjd|hjd2datetime }}</td> </tr>
      <tr> <th>Exposure:</th> <td class="mono">{{ spectrum.exptime }}s</td> </tr>
      <tr> <th>Instrument:</th> <td class="mono">{{ spectrum.instrument }} @ {{ spectrum.telescope }}</td> </tr>
   </tbody>
   </table>
   </div>
   
   <div class="block">
   <table class='datatable'>
   <tbody>
      <tr> <th>Airmass:</th> <td class="mono">{{ spectrum.airmass}}</td> </tr>
      <tr> <th>Moon Illumination:</th> <td class="mono">{{ spectrum.moon_illumination }} &#37</td> </tr>
      <tr> <th>Moon Separation:</th> <td class="mono">{{ spectrum.moon_separation }}&deg;</td> </tr>
      <tr> <th>Wind speed:</th> <td class="mono">{{ spectrum.wind_speed }} km/h</td> </tr>
      <tr> <th>Wind direction:</th> <td class="mono">{{ spectrum.wind_direction }}&deg; ({{ spectrum.wind_direction|dgr2cardinal }})</td> </tr>
      <tr> <th>Observer:</th> <td class="mono">{{ spectrum.observer}}</td> </tr>
      <tr> <th>Weather link:</th> <td class="mono"> <a target="_blank" href="http://www.eso.org/asm/ui/publicLog?name=Paranal&hoursInterval=12&startDate={{spectrum.hjd|hjd2date}}"> Paranal </a></td> </tr>
   </tbody>
   </table>
   </div>
   </div>
   
   
   </div>
   
   <div class="tag-container">
      <h3>Visibility</h3>
      <div class='block'>
      {{ figures.visibility|safe }}
      </div>
   </div>
   
   <div class="tag-container">
      <h3>Files belonging to this spectrum</h3>
      <ul>
      {% for sfile in spectrum.specfile_set.all %}
         <li>{{ sfile.filetype }} <a href='/api/spectra/specfiles/{{sfile.pk}}/header/' class='showheader' name='{{sfile.filetype}}'>(header)</a></li>
      {% endfor %}
      </ul>
   </div>
   
   </div>
   
   <hr>
   
   </section>
   
   <section class='data-section'>

   <!--<h3>The Spectrum</h3>
   
   <p>The spectrum is shifted with a barycentric correction of {{spectrum.barycor}} km/s.</p>-->
   
   <div class="flex-data-container">
   
   {% if figures.spec %}
<!--    <div class="block w1100"> -->
      {{ figures.spec|safe }}
<!--    </div> -->
   {% endif %} 
   
   </div>
   
   <hr>
   
   </section>
   
   <div id="headerWindow">
      <ul id="headerList">
      </ul>
   </div>
   
   {{ script|safe }}
   

{% endblock %}